.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 18px;
  margin: 20px 20px 20px 0;
}

.breadcrumbItem {
  background-color: #cce0f2; /* Light blue background */
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: semibold;
  font-family: var(--font-family);
  color: #1d3b6d; /* Dark blue text color */
  text-align: center;
  transition: all 0.3s ease;
}

.breadcrumbItem.active {
  background-color: #1d3b6d; /* Dark blue when active */
  color: white; /* White text when active */
}

.arrow {
  color: #666; /* Grey color for the arrow */
  font-size: 16px; /* Arrow size */
  background-color: lightgray;
  border-radius: 8px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.breadcrumbItem:hover {
  background-color: #a7c8e7; /* Lighten the background when hovered */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.breadcrumbItem.active {
  background-color: var(--button); /* Dark blue when active */
  color: white; /* White text when active */
}
