.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 380px; /* Set the width to 380px */
  height: 440px; /* Set the height to 440px */
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column; /* Use flexbox to arrange content */
}

.cardImage {
  border-radius: 12px;
  padding: 10px; /* Padding on all sides of the image container */
  flex-shrink: 0; /* Prevent image from shrinking */
}

.cardImage img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.cardContent {
  padding: 16px;
  border-radius: 12px;
  flex-grow: 1; /* Allow content to take up remaining space */
  overflow: hidden;
}

.cardContent h3 {
  font-size: 16px;
  font-weight: semibold;
  letter-spacing: 0.8px;
  text-align: justify;
  margin: 3;
  margin-top: -10px; /* Adjusted margin to give space between image and title */
  color: #070a0e;
}

.cardContent p {
  font-size: 14px;
  margin-top: -10px;
  color: rgba(62, 50, 50, 0.75); /* Corrected color property */

  text-align: justify;
  line-height: 1.6;
}
.cardFooter {
  border-radius: 12px;
  padding: 12px; /* Increased padding for footer */
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: #f1f1f1; /* Different background color for footer */
}

.footerLeft {
  display: flex;
  align-items: center; /* Align avatar and author name in one line */
}

.author {
  display: flex;
  align-items: center;
}

.authorAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.date {
  font-size: 12px;
  color: #888;
}

.cardIcons {
  display: flex;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #222;
}

.icon:hover {
  color: #007bff;
}
